table .cell-align-center {
  text-align: center;
}

table .cell-align-right {
  text-align: right;
}

table .cell-align-left {
  text-align: left;
}

.htContextMenu.handsontable {
  z-index: 42231 !important;
}
