.rendered-table.handsontable {
  padding: 0 0 2em 0;
}

#edit-field-table-data-0-pseudo {
  margin-bottom: 0;
}

table.htCore {
  float: left;
}

details.js-form-wrapper {
  float: left;
  width: 100%;
}
